<!DOCTYPE html>
<html>

<head>
    <title>Reset your Password</title>
</head>

<body>
    <h1>Hello, {{name}}!</h1>
    <p>You requested a password reset. Click on the link below to reset your password:</p>
    <a href="{{url}}">Reset Password</a>
</body>

</html>